@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.portrait{
    display: flex;         
    justify-content: center;       
    place-items: center;         
    height: 100vh;                
    width: 100%; 
    color: aliceblue;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

