<div class="personaje-container">
    <div class="personaje-info">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/John_Marston_-_Red_Dead_Redemption.png" alt="John Marston" class="personaje-imagen">
      
      <h2>John Marston</h2>
      <hr>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="changeLang('es')">Español</button>
        <button type="button" class="btn btn-secondary" (click)="changeLang('en')">Ingles</button>
      </div>
      <p><strong>{{history.name | translate}}</strong></p>
      <hr>
      <p><strong>Description</strong>: {{history.description | translate}}</p>
      <p><strong class="titulo">Habilidades:</strong>: {{history.habilidades | translate}}</p>
      <p><strong class="titulo">Cita célebre:</strong> </p>
      <hr>
      <div class="detalles">
        <p>John Marston fue un hombre marcado por su pasado, pero en busca de redención...</p>
      </div>
    </div>
  </div>
  