<div class="personaje-container">
    <div class="personaje-info">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/John_Marston_-_Red_Dead_Redemption.png" alt="John Marston" class="personaje-imagen">
      
      <!--<h2>{{history.name}}</h2>
      <hr>
      <p><strong>Historia de {{history.name}}</strong></p>
      <hr>
      <p><strong class="titulo">Habilidades:</strong></p>
      <ul>
        <li>{{habilitie.name}}: {{habilitie.description}}</li>
      </ul>
      <hr>
      <p><strong class="titulo">Cita célebre:</strong> </p>
      <hr>
      -->
      
      <button class="ver-mas-btn">Ver más</button>
      
      <div class="detalles">
        <p>John Marston fue un hombre marcado por su pasado, pero en busca de redención...</p>
        <!-- Aquí se podría agregar más contenido sobre su historia detallada -->
      </div>
    </div>
  </div>
  