<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'CART.CART' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button expand="block" color="medium" (click)="redirectToProduct()">
    {{'CART.BACK' | translate}}
  </ion-button>

  <ng-container *ngIf="productsCart.length > 0; else emptyCart">
    <ion-text class="ion-text-center ion-padding-vertical">
      <h2><strong>Your Cart</strong></h2>
    </ion-text>

    <div *ngFor="let product of productsCart" class="ion-padding-vertical">
      <ion-item>
        <ion-img slot="start" [src]="product[0].photo" [alt]="product[0].name" style="width: 40px; height: 40px;"></ion-img>
        <ion-label>
          <h3>{{product[0].name}}</h3>
          <p>{{'PRODUCTS.PRICE' | translate}}: {{product[0].price}}</p>
          <p>Qty: {{product[1]}}</p>
          <p>Total: {{product[0].price * product[1]}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button size="small" color="danger" (click)="onClickDeleteOne(product[0])">
            {{'CART.DELONE' | translate}}
          </ion-button>
          <ion-button size="small" color="danger" (click)="onClickDelete(product[0])">
            {{'CART.DEL' | translate}}
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>

    <ion-footer class="ion-padding">
      <ion-item lines="none">
        <ion-label><strong>Total:</strong> {{totalPrice | currency}}</ion-label>
        <ion-button color="dark">Comprar</ion-button>
      </ion-item>
    </ion-footer>
  </ng-container>

  <ng-template #emptyCart>
    <ion-text class="ion-text-center">
      <p><strong>{{'CART.EMPTY' | translate}}</strong></p>
    </ion-text>
  </ng-template>

</ion-content>
