<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay" when="false">
      <ion-content>
        <ion-list id="inbox-list">
          <div *ngIf="!userData">
            <div (click)="onClickProfile()">
              <ion-list-header>Inbox</ion-list-header>
              <ion-note>hi&#64;ionicframework.com</ion-note>
            </div>
          </div>
          <ion-menu-toggle>
            <div *ngIf="userData" class="fondoPerfil flex items-center gap-4 p-4 border-b border-gray-300" (click)="onClickProfile()">
              <div class="w-18 h-18 rounded-full overflow-hidden">
                <img
                src="{{userPhoto}}" 
                alt="PhotoURL" class="h-full w-full object-cover">
              </div>
              <div>
                <ion-list-header>{{userData.displayName}}</ion-list-header>
                <ion-note>{{userData.email}}</ion-note>
              </div>
            </div>
          </ion-menu-toggle>
          
          

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
        <div>
          <ion-fab slot="fixed" vertical="bottom" horizontal="start" edge="true" class="pb-3">
            <ion-fab-button>
              <ion-icon name="language"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button (click)="changeLanguage('es')">
                <p>ES</p>
              </ion-fab-button>
              <ion-fab-button (click)="changeLanguage('en')">
                <p>EN</p>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
