<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'MENU.LOGIN' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isLoggedIn">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'MENU.LOGIN' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!isLoggedIn" class="pb-20 pt-20 text-center">
    <div id="login" class="text-center flex justify-center gap-5">
      <ion-button color="dark" [style.--padding-end]="'1.6pc'" [style.--padding-start]="'1.6pc'" (click)="onClickLogin()">{{'REGISTRATION.LOGIN' | translate}}</ion-button>
      <ion-button color="dark" (click)="onClickRegister()">{{'REGISTRATION.REGISTER' | translate}}</ion-button>
    </div>
    <ion-note color="dark">ó</ion-note>
    <div class="flex justify-center pt-2">
      <button class="h-fit flex bg-white text-black !py-4 !px-6 !rounded-lg transition duration-300 shadow-md ease-in-out transform hover:scale-105" (click)="authService.loginWithGoogle()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
            <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
        </svg>
        <p class="py-[2px]">oogle</p>
      </button>
    </div>
  </div>
  
  <form [formGroup]="formEntrada" (ngSubmit)="onSubmitRegister()" *ngIf="registerOption">
    <div>
      <p class=" pl-2 font-bold text-3xl">{{'REGISTRATION.REGISTER' | translate}}</p>
    </div>
    <ion-list>
      
      <!-- Username -->
      <ion-item>
        <ion-label position="floating">{{'REGISTRATION.USERNAME' | translate}}</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('username')?.invalid && formEntrada.get('username')?.touched">
        *{{'REGISTRATION.USERREQUIRED' | translate}}
      </ion-note>
  
      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('email')?.invalid && formEntrada.get('email')?.touched">
        <div *ngIf="formEntrada.get('email')?.errors?.['required']">*{{'REGISTRATION.EMAILREQUIRED' | translate}}</div>
        <div *ngIf="formEntrada.get('email')?.errors?.['email']">*{{'REGISTRATION.VALIDEMAIL' | translate}}</div>
      </ion-note>
  
      <!-- Password -->
      <ion-item>
        <ion-label position="floating">{{'REGISTRATION.PASSWORD' | translate}}</ion-label>
        <ion-input formControlName="password" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('password')?.invalid && formEntrada.get('password')?.touched">
        <div *ngIf="formEntrada.get('password')?.errors?.['required']">*{{'REGISTRATION.PASSWORDREQUIRED' | translate}}</div>
        <div *ngIf="formEntrada.get('password')?.errors?.['minlength']">*{{'REGISTRATION.PASSWORDMIN' | translate}}</div>
        <div *ngIf="formEntrada.get('password')?.errors?.['pattern']">*{{'REGISTRATION.CONFIRMREQUIERED' | translate}}</div>
      </ion-note>
  
      <!-- Confirm Password -->
      <ion-item>
        <ion-label position="floating">{{'REGISTRATION.REPEATPASSWORD' | translate}}</ion-label>
        <ion-input formControlName="confirmPassword" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('confirmPassword')?.invalid && formEntrada.get('confirmPassword')?.touched">
        <div *ngIf="formEntrada.get('confirmPassword')?.errors?.['required']">*{{'REGISTRATION.CONFIRMREQUIERED' | translate}}</div>
        <div *ngIf="formEntrada.get('confirmPassword')?.errors?.['notSame']">*{{'REGISTRATION.NOTMATCH' | translate}}</div>
      </ion-note>
  
    </ion-list>
    <ion-button class="mt-8" type="submit" expand="block" [disabled]="!formEntrada.valid" (click)="onSubmitRegister()">
      <ion-icon slot="start" name="star"></ion-icon>
      {{'REGISTRATION.REGISTER' | translate}}
    </ion-button>
  </form>

  <form [formGroup]="formLogin" (ngSubmit)="onSubmitRegister()" *ngIf="!registerOption">
    <div>
      <p class=" pl-2 font-bold text-3xl">{{'REGISTRATION.LOGIN' | translate}}</p>
    </div>
    <ion-list>
  
      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
        <div *ngIf="formLogin.get('email')?.errors?.['required']">*{{'REGISTRATION.EMAILREQUIRED' | translate}}</div>
        <div *ngIf="formLogin.get('email')?.errors?.['email']">*{{'REGISTRATION.VALIDEMAIL' | translate}}</div>
      </ion-note>
  
      <!-- Password -->
      <ion-item>
        <ion-label position="floating">{{'REGISTRATION.PASSWORD' | translate}}</ion-label>
        <ion-input formControlName="password" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched">
        <div *ngIf="formLogin.get('password')?.errors?.['required']">*{{'REGISTRATION.PASSWORDREQUIRED' | translate}}</div>
        <div *ngIf="formLogin.get('password')?.errors?.['minlength']">*{{'REGISTRATION.CONFIRMREQUIERED' | translate}}</div>
        <div *ngIf="formLogin.get('password')?.errors?.['pattern']">*{{'REGISTRATION.CONFIRMREQUIERED' | translate}}</div>
      </ion-note>
  
    </ion-list>
    <ion-button class="mt-8" type="submit" expand="block" [disabled]="!formEntrada.valid" (click)="onSubmitLogin()">
      <ion-icon slot="start" name="star"></ion-icon>
      {{'REGISTRATION.LOGIN' | translate}}
    </ion-button>
  </form>
  
</ion-content>
<ion-content *ngIf="isLoggedIn">
  <div class="flex justify-center pt-20">
    <ion-note color="">{{'REGISTRATION.ALREADY' | translate}}</ion-note>
  </div>
</ion-content>
