
<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="!product" class="text-center">
    <p class="text-gray-600">Cargando...</p>
  </div>

  <div>
    <ion-button expand="block" color="medium" (click)="onClick()">
      Volver
    </ion-button>
  </div>

  <!-- Producto -->
  <div *ngIf="product" class="flex flex-col items-center bg-white p-6 rounded-2xl shadow-2xl max-w-sm mx-auto text-center mt-4">
    
    <ion-img 
      [src]="product.photo" 
      alt="{{ product.name }}" 
      class="rounded-lg shadow-xl transition-transform duration-300 ease-out hover:scale-105">
    </ion-img>
    
    <h3 class="mt-4 text-2xl font-semibold text-gray-800">{{ product.name }}</h3>
    <p class="mt-2 text-gray-600"><strong>Descripción:</strong> {{ product.description }}</p>
    <p class="mt-2 text-gray-700 font-bold"><strong>Precio:</strong> {{ product.price | currency }}</p>
    <p class="mt-2 text-gray-500"><strong>Fecha de salida:</strong> {{ product.releaseDate }}</p>
    <ion-button expand="block" color="primary" class="mt-4" (click)="onClickBuy(product)">Añadir al Carrito</ion-button>
  </div>

  <!-- Modo edición -->
  <div *ngIf="editMode" class="mt-10">
    <div class="flex justify-center pt-20">
      <p class="font-bold text-2xl">Edit Your Book Settings</p>
    </div>
    
    <div class="pb-65">
      <ion-card class="border border-black px-6 py-8 rounded-lg shadow-lg mx-auto max-w-2xl">
        <form [formGroup]="formBook">
          <div>
            <p class="font-bold pb-2">Edit only the one your are going to change*</p>
          </div>

          <ion-item class="gap-2 pb-4">
            <ion-label position="stacked">Name:</ion-label>
            <ion-input formControlName="name" placeholder="{{product.name}}"></ion-input>
          </ion-item>
          
          <ion-item class="gap-2 pb-4">
            <ion-label position="stacked">Description:</ion-label>
            <ion-input formControlName="description" placeholder="{{product.description}}"></ion-input>
          </ion-item>

          <ion-item class="gap-2 pb-4">
            <ion-label position="stacked">Price:</ion-label>
            <ion-input type="number" formControlName="price" placeholder="{{product.price}}"></ion-input>
          </ion-item>
          
          <ion-item class="gap-2 pb-4">
            <ion-label position="stacked" class="pb-2">Release Date:</ion-label>
            <ion-datetime presentation="date" formControlName="releaseDate" class="block mx-auto border border-gray-400 rounded-lg px-3 py-2"></ion-datetime>
          </ion-item>
          
          <ion-item class="gap-4 pb-4">
            <ion-label position="stacked">Category:</ion-label>
            <ion-select formControlName="category" placeholder="Selecciona una categoría">
              <ion-select-option value="Ficción">Ficción</ion-select-option>
              <ion-select-option value="Fantasía">Fantasía</ion-select-option>
              <ion-select-option value="Historia">Historia</ion-select-option>
              <ion-select-option value="Autoayuda">Autoayuda</ion-select-option>
              <ion-select-option value="Romance">Romance</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item class="gap-2 pb-4">
            <ion-label position="stacked">Photo URL:</ion-label>
            <ion-input formControlName="photo" placeholder="{{product.photo}}"></ion-input>
          </ion-item>
          
          <ion-button expand="block" color="medium" type="submit" [disabled]="!formBook.valid" (click)="onClickUpdateBook()">
            Edit
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>
  
</ion-content>

