<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="pt-2">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Publish-Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="formEntrada" (ngSubmit)="onSubmitCreate()" *ngIf="userData">
    <div class="pt-10">
      <p class=" pl-2 font-bold text-3xl">Publish a Book</p>
    </div>
    <ion-list>
      
      <!-- Name -->
      <ion-item>
        <ion-input 
        fill="solid"
        formControlName="name" 
        label="Tittle:"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('name')?.invalid && formEntrada.get('name')?.touched">
        *Name is required
      </ion-note>
  
      <!-- Price -->
      <ion-item>
        <ion-input type="number" label="Floating label" labelPlacement="floating" formControlName="price"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('price')?.invalid && formEntrada.get('price')?.touched">
        <div *ngIf="formEntrada.get('price')?.errors?.['required']">*Price is required</div>
      </ion-note>
  
      <!-- Description -->
      <ion-item>
        <ion-input 
        fill="solid"
        formControlName="description" 
        label="Description: "></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('description')?.invalid && formEntrada.get('description')?.touched">
        *Description is required
      </ion-note>
  
      <!-- Release Date -->
      <ion-item class="gap-2 pb-4">
        <ion-label position="stacked" class="pb-2">Release Date:</ion-label>
        <ion-datetime presentation="date" formControlName="releaseDate" class="block mx-auto border border-gray-400 rounded-lg px-3 py-2"></ion-datetime>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('releaseDate')?.invalid && formEntrada.get('releaseDate')?.touched">
        *Release Date is required
      </ion-note>
      <!-- Category -->
      <ion-item class="gap-4 pb-4">
        <ion-label position="stacked">Category:</ion-label>
        <ion-select formControlName="category" placeholder="Selecciona una categoría">
          <ion-select-option value="Ficción">Ficción</ion-select-option>
          <ion-select-option value="Fantasía">Fantasía</ion-select-option>
          <ion-select-option value="Historia">Historia</ion-select-option>
          <ion-select-option value="Autoayuda">Autoayuda</ion-select-option>
          <ion-select-option value="Romance">Romance</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('category')?.invalid && formEntrada.get('category')?.touched">
        *Category is required
      </ion-note>

      <!-- Photo Url -->
      <ion-item>
        <ion-label position="floating">PhotoURL</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formEntrada.get('photo')?.invalid && formEntrada.get('photo')?.touched">
        *Photo Url is required
      </ion-note>
  
    </ion-list>
    <ion-button class="mt-8" type="submit" expand="block" [disabled]="!formEntrada.valid" (click)="onSubmitCreate()">
      <ion-icon slot="start" name="star"></ion-icon>
      Register
    </ion-button>
  </form>

</ion-content>
