<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'SETTINGS.SETIINGS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'SETTINGS.SETIINGS' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex flex-col">
    <div>
      <h1>{{'SETTINGS.THEMES' | translate}}</h1>
      <div class="flex justify-between pt-4 pl-5">
        <p>{{'SETTINGS.MAINCOLOR' | translate}}</p>
        <ion-toggle aria-label="Primary toggle" color="primary" [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
      </div>
      <h1>{{'SETTINGS.MAINCOLOR' | translate}}</h1>
      <div class="flex">
        <ion-label position="stacked" class="pl-5">{{'SETTINGS.COLOR' | translate}}:</ion-label>
        <ion-select placeholder="Selecciona un Color" (ionChange)="onClickColor($event)" class="pt-4">
            <ion-select-option value="blue">{{'SETTINGS.BLUE' | translate}}</ion-select-option>
            <ion-select-option value="red">{{'SETTINGS.RED' | translate}}</ion-select-option>
            <ion-select-option value="green">{{'SETTINGS.GREEN' | translate}}</ion-select-option>
            <ion-select-option value="yellow">{{'SETTINGS.YELLOW' | translate}}</ion-select-option>
            <ion-select-option value="pink">{{'SETTINGS.PINK' | translate}}</ion-select-option>
        </ion-select>
      </div>
      <h1>{{'SETTINGS.TEXTSIZE' | translate}}</h1>
      <div class="flex">
        <ion-label position="stacked" class="pl-5">{{'SETTINGS.SIZE' | translate}}:</ion-label>
        <ion-select [placeholder]="'SETTINGS.SELECTCOLOR' | translate" (ionChange)="onClickSize($event)" class="pt-4">
            <ion-select-option value="font-size-small">{{'SETTINGS.SMALL' | translate}}</ion-select-option>
            <ion-select-option value="font-size-medium">{{'SETTINGS.MEDIUM' | translate}}</ion-select-option>
            <ion-select-option value="font-size-large">{{'SETTINGS.LARGE' | translate}}</ion-select-option>
            <ion-select-option value="font-size-xl">{{'SETTINGS.XL' | translate}}</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="pt-35" *ngIf="userData">
      <h1 class="text-red-700">{{'SETTINGS.ACCOUNT' | translate}}</h1>
      <div class="flex justify-between">
        <p class="text-red-600">{{'SETTINGS.LOGOUT' | translate}}:</p>
        <ion-button color="danger" (click)="onClickLogOut()">{{'SETTINGS.LOGOUT' | translate}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>
