ion-menu-button {
    color: var(--ion-color-primary);
}
.small-btn {
    padding-right: 4px !important;
    padding-left: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    border-radius: 20px;  
    background-color: gray;
}
.small-btn.liked {
    background-color: var(--ion-color-danger);
    transition: background-color 0.3s ease;
}
  
  .small-btn.not-liked {
    background-color: #d1d5db;
    transition: background-color 0.3s ease;
  }

  @keyframes fade-in {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }